body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swiper-button-next , .swiper-button-prev {
  background-color: rgba(250,250,250,0.3);
  padding: 20px;
  --swiper-theme-color: #333;
}

.swiper-button-next{
  right: 10% !important;
}

.swiper-button-prev{
  left: 10% !important;
}

.swiper-pagination-bullet {
  width: auto !important;
  height: auto !important;
  padding: 10px 20px;
  text-align: center !important;
  border-radius: 0 !important;
  font-size: 16px;
  opacity: 1 !important;
  background: var(--swiper-pagination-bullet-inactive-color,rgba(250,250,250,0.7)) !important;
}

.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-bullet-inactive-color,rgba(0, 0, 0, 0.7)) !important;
  color:#fff;
}

.bestSwiper .swiper-slide {
  width: 100%;
  max-width: 260px;
  max-height: 260px;
  position: relative;
}

.bestSwiper .swiper-slide img{
  width: 100%;
}

.bestSwiper .swiper-slide .best-contents {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  right:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.5);
  /* z-index: 29; */
  animation: fadeIn .3s;
  text-align: center;
  opacity: 0;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.bestSwiper .swiper-slide .best-contents p {
  font-size: 30px;
  color: rgba(250,250,250,0.7);
  position: absolute;
  top: 20%;
  left:0;
  right:0;
  z-index: 30;
}

.bestSwiper .swiper-slide .best-contents dl{
  width: 80%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 30;
}

.bestSwiper .swiper-slide .best-contents dl dt{
  font-size: 16px;
  color:#fff;
  margin-bottom: 5px;
}

.bestSwiper .swiper-slide .best-contents dl dd{
  font-size: 15px;
  color:#fff;
  text-decoration: line-through;
}
